*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  max-width: 1500px;
  min-height: 100vh;
}

